<div class="sort-controls">
  <div class="header">
    <h5>Sort Controls</h5>
    <small>Use the toggle controls to set sorting conditions for the generated URLs</small>
  </div>
  <form>
    <div class="form-container">
      <div class="form-item">
        <mat-label>Ascending Sort</mat-label>
        <mat-slide-toggle
          name="sortOrder"
          color="accent"
          [checked]="sortByAscending"
          [(ngModel)]="sortByAscending"
        >
        </mat-slide-toggle>
      </div>
      <div class="form-item">
        <mat-label>Field</mat-label>
        <mat-button-toggle-group
          [(ngModel)]="sortByField"
          name="sortFields"
        >
          <mat-button-toggle
            value="access_count"
          >
            No. Of Visits
          </mat-button-toggle>
          <mat-button-toggle
            value="last_accessed"
          >
            Last Accessed
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </form>
</div>
<div class="header">
  <h5>All URLs Generated</h5>
  <small>Click on an item to view more details</small>
</div>
<div class="list-group list-container">
  <a
    class="list-group-item list-group-item-action w-50 mt-1"
    *ngFor="let url of urlsData"
    [routerLink]="getLink(url.short_id)"
  >
    <div class="">
      <h5 class="mb-1">
        {{ url.short_url }}
      </h5>
    </div>
    <small class="mb-1">
      {{ url.long_url }}
    </small>
  </a>
</div>

