<!-- shared navbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Shorty - A Friendly Url Shortener</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="/">Shorten Url</a>
        <a class="nav-item nav-link" routerLink="/analytics">Analytics</a>
      </div>
    </div>

  </div>
</nav>
<!-- shared navbar end -->

<router-outlet></router-outlet>
