<div class="container">
  <div class="layout">
    <h5 class="mb-5">
      Shorten a URL by pasting it in the box below. Additionally, you can also specify the expiry time of the link.
    </h5>
    <form>
      <div class="fields">
        <mat-form-field
          appearance="fill"
          class="url-field"
        >
          <mat-label>
            URL
          </mat-label>
          <input
            matInput
            type="url"

            placeholder="Enter a URL to shorten it"
            name="url"
            [(ngModel)]="input.url"
            #url="ngModel"
          />
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          class="expiry-field"
        >
          <mat-label>
            Expiry
          </mat-label>
          <mat-select
            placeholder="In hours"
            [(value)]="expirySelected"
          >
            <mat-option>None</mat-option>
            <mat-option *ngFor="let hour of hourValues; let i = index" [value]="i + 1"> {{ i + 1 }} </mat-option>
          </mat-select>
          <mat-hint>Specify in hours</mat-hint>
        </mat-form-field>
      </div>
      <button
        class="btn btn-outline-secondary mt-3"
        type="button"
        (click)="shortenUrl()"
        mat-raised-button
        color="primary"
      >
        Shorten URL
      </button>
    </form>
  </div>
  <div class="url-view" *ngIf="shortUrl">
    <mat-label class="title">Shortened URL</mat-label>
    <mat-chip-list>
      <mat-chip color="accent" selected [selectable] = "false">
        {{ shortUrl }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
