<div class="container">
  <div class="row">
    <p>
      Shorten a URL by pasting it in the box below
    </p>
  </div>
  <form action="">
    <mat-form-field appearance="fill">
      <mat-label>
        URL
      </mat-label>
      <input
        matInput
        type="url"

        placeholder="Enter a URL to shorten it"
        name="url"
        [(ngModel)]="input.url"
        #url="ngModel"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-select
        placeholder="Expiry time in hours"
        [(value)]="expirySelected"
      >
        <mat-option>None</mat-option>
        <mat-option *ngFor="let hour of hourValues; let i = index" [value]="i + 1"> {{ i + 1 }} </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="shortenUrl(expirySelected)"
      mat-raised-button
      color="primary"
    >
      Button
    </button>
  </form>
  <div>
    <p *ngIf="shortUrl">
      Shortened URL: {{ shortUrl }}
    </p>
  </div>
</div>
