.form-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.form-item > * {
    margin: 5px 5px;
}