
.header {
    margin-top: 5vh;
    text-align: center;
}

/* styles for sort controls section */
.sort-controls {
    background-color: var(--bg-dark);
    padding: 10px 0px;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.form-item > * {
    margin: 5px 5px;
}

/* style for url container */
.list-container {
    display: flex;
    align-items: center;
    margin-top: 3vh;
    padding-bottom: 50px;
}

.list-container > * {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .list-container > * {
        width: 90%;
    }
}
